/*CSS reset-START!!!*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em
list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CSS reset-END!!!*/


/* HEADER of template */

.header {
    width: 1300px;
    margin: 0 auto;
}

.header div {
    display: inline-block;
}

.header-logo {                             /* Logo -for-HEADER */
    margin: 20px 120px 28px 80px;
}

.header-navbar .navbar-list {              /* Navigation bar-for-HEADER */
    list-style-type: none;
}

.navbar-list .navbar-list-item {
    float: left;
    padding-top: 42px;
}

.navbar-list-item .list-item-link {
    text-decoration: none;
    margin-right: 28px;
    color: #989898;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.header-login {                            /* Login button-for-HEADER */
    margin-left: 46px;
}

.header-login-button {
    border: none;
    border-radius: 20px;
    background-color: #bcda5c;
    font-size: 15px;
    padding: 14px 30px;
}

.header-login-button:active {
    transform: translate(1px,2px);
}

.header-login .login-button-link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
}


/* BANNER of template */

.banner {
    width: 1300px;
    height: 570px;
    margin: 0 auto;
    margin-top: 10px;
    background: url("../image/banner-background.png") no-repeat;
}

.banner-content {                                /* Content-for-BANNER */
    width: 900px;
    margin: 0 auto;
    padding-top: 170px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 42px;
    word-spacing: 10px;

}

.banner-content span {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 35px;
    font-size: 30px;
    font-weight: 400;
}

.banner-button {                                /* Button-for-BANNER */
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-top: 60px;
    border: none;
    border-radius: 10px;
    background-color: #99c50a;
    padding: 25px 40px;
}

.banner-button:active {
    transform: translate(1px,2px);
    border: none;
}

.banner-button .button-link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 18px;
}


/* MAIN CONTENT of template */

.main-content {                                     /* ARTICLE section--for-MAIN CONTENT */
    width: 1300px;
    margin: 0 auto;
}

/* INTRODUCTION of MAIN CONTENT */

.main-intro .intro-logo {                       /* INTRODUCTION LOGO-for-MAIN CONTENT */
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}

.main-intro .intro-title {                     /* INTRODUCTION TITLE-for-MAIN CONTENT */
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    color: #515151;
    width: 570px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 65px;
    margin: 0 auto;
}

.main-intro .intro-text {                      /* INTRODUCTION TEXT-for-MAIN CONTENT */
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #838383;
    line-height: 30px;
    text-align: center;
    width: 925px;
    padding-bottom: 55px;
    margin: 0 auto;
}

/* TABS of MAIN CONTENT */

.main-tabs .tabs-buttons {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 38px;
    border-bottom: 1px solid #e6e6e6;
}

.tabs-buttons .buttons {                       /* Buttons-for-TABS */
    text-decoration: none;
    margin-right: 110px;
}

.tabs-buttons .buttons:active {
    border-bottom: 1px solid #add136;
    padding-bottom: 55px;
}

.tabs-buttons .buttons:visited {
    border-bottom: 1px solid #add136;
    padding-bottom: 55px;
}


.buttons .buttons-link {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #656565;
}

.buttons .buttons-number {                    /* Button numbers-for-TABS */
    display: inline-block;
    width: 30px;
    background-color: #5f5f5f;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 50%;
    margin-right: 30px;
}

.buttons .buttons-number:hover {
    background-color: #add136;
}


.main-tabs .tabs-content {                   /* Content-for-TABS */
    width: 980px;
    margin: 0 auto;
}

/*
.tabs-content .tabs-content-section {
   width: 2940px;
   overflow: hidden;
}
*/

.tabs-content-section .tab-logo {            /* Logo-for-TABS */
    display: inline-block;
    margin: 87px 0 0 90px;
}

.tabs-content-section .section-text {
    width: 652px;
    float: right;
    margin-top: 65px;
}

.section-text .text-header {                 /* Header-for-TABS */
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #add136;
}

.section-text .text-paragraph {              /* Paragraph-for-TABS */
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 23px;
    color: #838383;
    margin-top: 38px;
}

/* FIND SECTION of MAIN CONTENT */

.main-find-section {
    width: 1300px;
    margin: 0 auto;
    margin-top: 112px;
}

.main-find-section div {
    width: 50%;
    display: inline-block;
}

.find-section-properties {                                            /* Properties section-for-FIND section */
    background-color: #e2f8ff;
}

.find-section-properties .find-properties-logo {                      /* Properties section logo-for-FIND section */
    padding: 85px 45px 109px 140px;
}

.find-section-properties .find-properties-content {                   /* Properties section text-for-FIND section */
    width: 260px;
    float: right;
    padding: 48px 68px 0 0;
}

.find-content-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #515151;
    margin-bottom: 40px;
}

.find-content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #515151;
    text-align: justify;
}

.find-properties-content .properties-button {                        /* Properties section Button-for-FIND section */
    width: 200px;
    margin-top: 32px;
    padding: 20px 25px;
    background-color: #26a6d1;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.properties-button:active {
    transform: translate(1px,2px);
    border: none;
}

.main-find-section .find-section-buyers {                              /* Buyers section-for-FIND section */
    background-color: #f5f9eb;
    float: right;
}

.find-section-buyers .find-buyers-logo {                              /* Buyers section logo-for-FIND section */
    padding: 96px 72px 117px 76px;
    display: inline-block;
}

.find-section-buyers .find-buyers-content {                           /* Buyers section text-for-FIND section */
    width: 260px;
    float: right;
    padding: 45px 140px 30px 0;

}

.find-buyers-content .buyers-button {                                  /* Buyers section Button-for-FIND section */
    width: 200px;
    margin-top: 32px;
    padding: 20px;
    background-color: #add136;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.buyers-button:active {
    transform: translate(1px,2px);
    border: none;
}

.properties-button-link , .buyers-button-link {                       /* Properties/Buyers section Links-for-FIND section */
    text-decoration: none;
    color: white;
}



/* PROJECT SECTION of MAIN CONTENT */


/* MEMBERSHIP SECTION of PROJECT SECTION */

.main-projects-section {
    width: 1300px;
    margin: 0 auto;
}

.projects-section-membership {
    width: 1000px;
    margin: 0 auto;
}

.projects-section-membership .projects-membership-guide {               /* Membership guide section-for-PROJECT SECTION */
    float: left;
    margin-bottom: 65px;
}

.projects-section-membership .projects-membership-guide {
    width: 705px;
}

.projects-membership-guide .projects-section-membership-title {        /* Header-for-PROJECT SECTION */
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #515151;
    margin-top: 75px;
}

.projects-membership-guide .projects-section-membership-text {       /* Membership guide section text-for-PROJECT SECTION */
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 23px;
    color: #838383;
    margin-top: 35px;
}

.projects-section-membership .projects-membership-button {           /* Membership button-for-PROJECT SECTION */
    float: right;
}

.projects-membership-button .membership-button {
    margin-top: 110px;
    padding: 20px 23px;
    background-color: white;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
}

.membership-button .membership-button-link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #838383;
}

.membership-button:active {
    transform: translate(1px,2px);
}


/* PROJECTS DETAILS of PROJECTS SECTION */

.projects-section-details {
    width: 1300px;
    margin: 0 auto;
}

.projects-details-block {
    width: 1000px;
    margin: 0 auto;
}

.projects-details-block div:last-of-type {
    margin-right: 0;
}

.projects-details-block .projects-details-division {           /* Block for each of the 3 project-for-PROJECTS DETAILS */
    display: inline-block;
    width: 300px;
    margin-right: 42px;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
}


.projects-details-division .projects-division-banner-1 {               /* 1st block image-for-PROJECTS DETAILS */
    background: url('../image/projects-banner-1.png') no-repeat;
    height: 229px;
}

.projects-details-division .projects-division-banner-2 {              /* 2nd block image-for-PROJECTS DETAILS */
    background: url('../image/projects-banner-2.png') no-repeat;
    height: 229px;
}

.projects-details-division .projects-division-banner-3 {             /* 3rd block image-for-PROJECTS DETAILS */
    background: url('../image/projects-banner-3.png')no-repeat;
    height: 229px;
}


.division-new-banner-label {                                    /* COME BACK!!!! AND COMPLETE LABELING OF BLOCK BANNER!! */
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #add136;
}

.new-label-text {
<<<<<<< HEAD
=======
    position: absolute;
>>>>>>> 732d31083770c69f32e1550e45783454e9fbcbd0
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.projects-division-banner-1 div {

}

<<<<<<< HEAD
.division-from-banner-label {
    background-color: #26a6d1;
    color: white;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    float: right;
    margin: 133px 15px 22px 145px;
    padding: 12px 10px;
    border-radius: 5px;
}

span.from-label {
    font-weight: bold;
}



=======
.division-from-banner-label {                                 /* COME BACK!!!! AND COMPLETE LABELING OF BLOCK BANNER!! */

}


>>>>>>> 732d31083770c69f32e1550e45783454e9fbcbd0
.projects-division-text {
    color: #f8f8f8;
}

.projects-division-text .division-text-title {              /* Header of each block-for-PROJECTS DETAILS*/
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #484848;
    padding-top: 28px;
    padding-left: 15px;

}

.projects-division-text .division-text-content {           /* Paragraph of each block-for-PROJECTS DETAILS*/
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #515151;
    padding: 20px 15px 22px 15px;
}


.division-text-progressBar .progressBar-bar {            /* Progress Bar of each block-for-PROJECTS DETAILS */
    padding-left: 15px;
    padding-bottom: 10px;
}


.division-text-progressBar .progressBar-amount {        /* Percentage done */
    color: #838383;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-left: 15px;
}

.division-text-progressBar .progressBar-days {         /* Days left */
    color: #838383;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-left: 105px;
}

.division-text-seeDetails {                          /* See Details block-for-PROJECT DETAILS */
    display: block;
    width: 254px;
    margin-top: 18px;
    padding-top: 27px;
    border-top: 1px solid #d6d6d6;
    margin-bottom: 25px;
    margin-left: 15px;
}

.division-text-seeDetails-content {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #868686;
    padding-left: 87px;

}

.division-text-seeDetails-button {             /* Button of See Details block-for-PROJECT DETAILS */
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #b5d54c;
    background: transparent;
    margin-left: 10px;
}

.division-text-seeDetails-button:active {
    transform: translate(1px,2px);
}

.seeDetails-button-link {                    /* Link of the button of See details */
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
    color: transparent;
    text-decoration: none;
}





/* FOOTER of template */

.footer {
    width: 1300px;
    margin: 0 auto;
}

.footer-partners {                                 /* Partner logos-for-FOOTER */
    width: 1010px;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 41px;
}

.footer-copyright {                                /* Copyright-for-FOOTER */
    border-top: 1px solid #ededed;
}


.footer-copyright .copyright-content {
    width: 250px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 27px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #848484;
}