/*CSS reset-START!!!*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em
list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CSS reset-END!!!*/


/* HEADER of template */

.header {
    width: 1300px;
    margin: 0 auto;
}

.header div {
    display: inline-block;
}

.header-logo {                             /* Logo -for-HEADER */
    margin: 20px 120px 28px 80px;
}

.header-navbar .navbar-list {              /* Navigation bar-for-HEADER */
    list-style-type: none;
}

.navbar-list .navbar-list-item {
    float: left;
    padding-top: 42px;
}

.navbar-list-item .list-item-link {
    text-decoration: none;
    margin-right: 28px;
    color: #989898;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.header-login {                            /* Login button-for-HEADER */
    margin-left: 46px;
}

.header-login-button {
    border: none;
    border-radius: 20px;
    background-color: #bcda5c;
    font-size: 15px;
    padding: 14px 30px;
}

.header-login-button:active {
    transform: translate(1px,2px);
}

.header-login .login-button-link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
}


/* BANNER of template */

.banner {
    width: 1300px;
    height: 570px;
    margin: 0 auto;
    margin-top: 10px;
    background: url("../image/banner-background.png") no-repeat;
}

.banner-content {                                /* Content-for-BANNER */
    width: 900px;
    margin: 0 auto;
    padding-top: 170px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 42px;
    word-spacing: 10px;

}

.banner-content span {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 35px;
    font-size: 30px;
    font-weight: 400;
}

.banner-button {                                /* Button-for-BANNER */
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-top: 60px;
    border: none;
    border-radius: 10px;
    background-color: #99c50a;
    padding: 25px 40px;
}

.banner-button:active {
    transform: translate(1px,2px);
    border: none;
}

.banner-button .button-link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 18px;
}


/* MAIN CONTENT of template */

.main-content {                                     /* ARTICLE section--for-MAIN CONTENT */
    width: 1300px;
    margin: 0 auto;
}

.intro-content .intro-logo {                       /* INTRODUCTION LOGO-for-MAIN CONTENT */
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}

.intro-content .intro-title {                     /* INTRODUCTION TITLE-for-MAIN CONTENT */
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    color: #515151;
    width: 570px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 65px;
    margin: 0 auto;
}

.intro-content .intro-text {                      /* INTRODUCTION TEXT-for-MAIN CONTENT */
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #838383;
    line-height: 30px;
    text-align: center;
    width: 925px;
    padding-bottom: 55px;
    margin: 0 auto;
}







/* FOOTER of template */

.footer {
    width: 1300px;
    margin: 0 auto;
}

.footer-partners {                                 /* Partner logos-for-FOOTER */
    width: 1010px;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 41px;
}

.footer-copyright {                                /* Copyright-for-FOOTER */
    border-top: 1px solid #ededed;
}


.footer-copyright .copyright-content {
    width: 250px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 27px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #848484;
}